#!/usr/bin/env bash

alias ls='ls --color=auto'
alias ll='ls -la'
alias la='ls -a'

alias grep='grep --color=auto'

alias neo='neofetch --config ~/.config/neofetch/config-neo.conf --ascii_distro arch_small'

alias eww='~/Documents/eww/target/release/eww'

alias cfg='git --git-dir $HOME/.cfg --work-tree=$HOME'

alias ..='cd ..'
alias ...='cd ../..'
